
body { margin:0; font-family:Arial; background:#0c0c0c; color:white;}
header {display:flex; justify-content:space-between; padding:20px;}
nav a {color:orange; margin-left:20px; text-decoration:none;}
.logo {height:50px;}
.hero {text-align:center; padding:40px;}
.hero-video {width:60%; border-radius:12px;}
.grid {display:grid; grid-template-columns:1fr 1fr; gap:20px; padding:20px;}
video {width:100%; border-radius:10px;}
