
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0c0c0c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Page container */
.page {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

/* Header */
header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

nav a {
    color: orange;
    margin-left: 20px;
    text-decoration: none;
}

.logo {height:50px;}

.hero {
    width: 100%;
    max-width: 1200px;
    text-align:center;
    padding: 40px 20px;
}

.hero-video {
    width: 70%;
    border-radius: 12px;
}

.grid {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    width:100%;
    max-width:1200px;
}

video {width:100%; border-radius:10px;}
